.layout-wrapper {
    display: flex;
    min-height: 100vh;
    background: linear-gradient(135deg, oklch(0.97 0.014 254.604) 0%, #ffffff 50%, oklch(0.982 0.018 155.826) 100%);
    width: 100%;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: 100vh;
    overflow-y: auto;
}

.content-body {
    padding: 1.5rem;
}